* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; color: black;
  list-style: none;
  justify-content: center;

  
}

body {
  font-family: arial;

}
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  height: 200px;

}
  
  .form-login {
    width: 550px;
    height:300px;
    background: #ffffff;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #c4c4c1;
    padding: 20px 30px;
   
    color: rgb(8, 8, 8);
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
   
    margin-bottom: 15px;
    padding: 11px 10px;
   
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #a0a0a0;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: rgb(100, 98, 98);
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }